body {
  margin: 0;
  font-family: Arial;
  background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092") no-repeat center center/cover;
}

/* Background */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Box */
.form {
  background: white;
  padding: 25px;
  width: 330px;
  border-radius: 10px;
  text-align: center;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
}